html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img\cursos\imagem2.png');
    background-size: cover;
    background-position: center;
}

header {
    background-color: #61b8ff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 70%;

    height: auto;
}

main {
    flex: 1;
    margin: 4vh;
}

.module {
    margin-bottom: 40px;
}

.image-section img {
    width: 80%;
    margin: auto;
    height: auto;
    display: block;
}

.content-section {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #61b8ff;
    margin: 1vh;
}

p {
    color: #333;

}

.next-button {
    background-color: cornflowerblue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 80px;
}

.next-button:hover {
    background-color: #a3d6ff;
}

menu {
    display: none;
}

#itens ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#itens ul li {
    display: inline-block;
    margin-right: 5vh;
}

#itens ul li a {
    text-decoration: none;
    color: #ffffff;
    font-style: unset;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: cornflowerblue;
    transition: background-color 0.3s ease;
}

#itens ul li a:hover {
    background-color: #a3d6ff;
}

footer {
    background-color: #61b8ff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

span#burguer {
    background-color: cornflowerblue;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer
}

span#burguer:hover {
    background-color: #a3d6ff;
    color: black;
}