@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Archivo+Black&family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

/*fonts*/
:root{
    --font-x1: clamp(1.7rem, 3vw + 0.1rem, 2.4rem);
    --font-md: clamp(1rem, 1vw + 0.1rem, 2rem );
    --font-md0: clamp(1.2rem, 1vw + 0.1rem, 2rem );
    --font-md1: clamp(2rem, 5vw + 0.1rem, 1.8rem );
    --font-title: clamp(1.5rem, 2.5vw, 4rem); 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    outline: 0;    
}
html{
    scroll-behavior: smooth; 
}
/* Header**************/
header{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    position:sticky;
    top: 0;
    left: 0;
    z-index: 7;
    background-color: #fff;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    margin-left: 1.5rem;
}
.logo i{
    color: #017A8F;
    font-size: 10px ;
    padding: 5px;
}
.logo p{
    font-size: 1.1em;
    text-transform: uppercase;
    cursor: pointer;
}
.header-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 5px;
    margin-right: 1rem;
}
.header-links a{
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    color: #000;
    font-size: min(max(15px, 2vw), 16px);
    padding: 15px;  
    text-decoration: 3px solid transparent;
    
}
.header-links a:hover{
    font-weight: 600;
    margin-top: -2px;
    text-decoration: 3px solid underline;
}

/* MENU MOBILE ****************/
.menu-mobile{
    background-color: #f1f1f1;
    position: absolute;
    top: calc(10vh);
    left: 0;
    width: 100%;
    height: auto;
    visibility: hidden;
    transition: 0.4s;
    overflow: hidden;   
}
.menu-mobile a{
    margin-top: 1rem;
    font-family: 'Poppins';
    color: #000;
    letter-spacing: 0.8px;
    text-decoration: none;
    display: block;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}
.menu-mobile i{
    font-size: 30px;
    color: #010208;
}
.menu-mobile a:hover{
    background-color: #6666;
}
/*Botão mobile ******************/
#btn-menu{
    background-color: transparent;
    color: #010208;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    border-radius: 40px;
    transition: .2s;
    display: none;
}

/*main*/
main{
    width: 100%;
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 0 40px;
}
.main-info{
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.title-txt{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    overflow: hidden;
}
.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
    font-size: var(--font-title);
}
.title p{
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 300;
}
.title h1{
    text-transform: uppercase;
    text-decoration: underline blue;
    font-weight: 800;
}
.main-txt{
    width: 97%;
    padding: 10px 12px;
    letter-spacing: 0.2px;
    font-size: var(--font-md);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.button-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.btn-main {
    display: inline-block;
    text-align: center;
    padding: 5px 3.2rem;
    font-size: var(--font-md);
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #010208;
    border: 2px solid #010208;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
}   
.btn-main::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #be1a1a;
    background-color: #010208;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}
.btn-main:hover{
    color: #fff;
}
.btn-main:hover::before {
    transform: translateX(0);
}
.img-main{
    width: 50%;
}
.img-foto-main{
    width: 100%;
    height: 89vh;
    background-image: url(img/img-fundo/shra.png); 
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 89vh;
}
/*sobre*/
.section-sobre{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 2rem;

}
.sobre-website{
    position: relative;
    width: 85%;
    height: 68vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
}
.sobre-txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    padding: 10px 20px;
    gap: 20px;
    font-size: var(--font-md);
}

.img-sobre{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    gap: 10px;
}
.img1{
    width: 40%;
    height: 100%;
    background-image: url(img/img-fundo/img-d.jpg); 
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;   
}
.img2{
    position: absolute;
    margin-left: 7rem;
    width: 40%;
    height: 100%;
    background-image: url(img/img-fundo/img-c.jpg); 
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    margin-top: 10rem;
}
.img3{
    width: 42%;
    height: 100%;
    background-image: url(img/img-fundo/senhor-sorrindo.jpg); 
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    margin-bottom: 5rem;
}
/* cardss*/
.cards{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}
.container-cards{
    background-color: #CFE6EA;
    border-radius: 100% 0% 100% 0% / 14% 87% 13% 86%  ;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    padding: 20px;
    gap: 20px;
    flex-grow: 1;
}
.card{
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ECF4F6;
    cursor: pointer;

}
.card-linha{
    width: 20%;
    border: 3px solid #000000bd;
}
.cards-one1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    padding: 20px;
    margin-left: 2rem;
}
.cards-one2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0px;
    padding: 20px;
    margin-right: 2rem;
}
.cards-one3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    padding: 20px;
}
.card i{
    margin-left: 1rem;
    font-size: 30px;
    transform: rotate(-20deg);
}
.card h2{
    margin-left: 1rem;
    font-size: var(--font-md);
    text-transform: uppercase;
}
.card p{
    width: 100%;
    font-size: var(--font-md);
}

/*parcerias*/
.section-parcerias{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-bottom: 2rem;
    padding: 65px 5px;

}
.parcerias{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 2.5rem;
    flex-wrap: wrap;
    padding: 10px;
}
.parcerias h2{
    font-size:23px;
    margin-bottom: 1rem;
}
.logo-empresas{
    width: 90%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    flex-grow: 1;
}
.logo-empresas-img1{
    width: 100px;
    height: 70px;
    background-image: url(img/logos-parcerias/Linkedin-Logo.png); 
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.logo-empresas-img2{
    width: 100px;
    height: 70px;
    background-image: url(img/logos-parcerias/infojobs.jpg); 
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.logo-empresas-img3{
    width: 100px;
    height: 70px;
    background-image: url(img/logos-parcerias/catho..png); 
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.logo-empresas-img4{
    width: 100px;
    height: 70px;
    background-image: url(img/logos-parcerias/cursoemvideo-logo.png); 
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;

}
.logo-empresas-img5{
    width: 100px;
    height: 70px;
    background-image: url(img/logos-parcerias/fun-bradesco.png); 
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;

}
.logo-empresas-img6{
    width: 100px;
    height: 70px;
    background-image: url(img/logos-parcerias/teams-logo.png); 
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.logo-empresas-img7{
    width: 100px;
    height: 70px;
    background-image: url(img/logos-parcerias/abrati.png); 
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.logo-empresas-img8{
    width: 100px;
    height: 70px;
    background-image: url(img/logos-parcerias/projeto-velho-amigo.jpg); 
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.logo-empresas-img9{
    width: 100px;
    height: 70px;
    background-image: url(img/logos-parcerias/adv-vitor-brito.png); 
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.lembrete{
    background-color: #010208;
    color: #f1f1f1;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
.lembrete p{
    text-align: center;
    width: 70%;
    font-size: var(--font-md);
    letter-spacing: 0.9px;
}
.but-links-externos{
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}
/*but1 - Cursos*/
.btn {
    display: inline-block;
    text-align: center;
    padding: 0.2rem 5rem;
    font-size: var(--font-md);
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #010208;
    border: 2px solid #fff;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
}   
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #be1a1a;
    background-color: #010208;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}
.btn:hover{
    color: #fff;
}
.btn:hover::before {
    transform: translateX(0);
}

/*but2 - Fórum*/
.btn2{
    display: inline-block;
    padding: 0.2rem 5rem;
    font-size: var(--font-md);
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #f1f1f1;
    border: 2px solid #fff;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
}   
.btn2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}
.btn2:hover::before {
    transform: translateX(0);
}
/*formulário*/
.form-duvidas{
    margin-top: 3rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
    padding: 40px;
}
.formulario{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background-color: #017A8F;
}
.form-txt{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    margin-left: 2rem;


}
.form-txt h3{
    width: 100%;
    font-size: var(--font-md);
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px ;
    text-decoration:underline 3px solid #017A8F;
    letter-spacing: 0.6px;
}
.form-txt p{
    width: 90%;
    font-size: var(--font-md);
    font-weight: 400;
    letter-spacing: 0.4px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 375px;
    background-color: #fff;
    padding:  20px 10px;
    position: relative;
    border: 1px solid #017A8F;   
  }
  
  .message {
    color: #333;
    font-size: var(--font-md);
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid #333;
    border-radius: 5px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: var(--font-md);
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .input01 {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid #333;
    border-radius: 5px;
  }
  
  .form label .input01 + span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input01:placeholder-shown + span {
    top: 40px;
    font-size: 0.9em;
  }
  
  .form label .input01:focus + span,.form label .input01:valid + span {
    top: 50px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input01:valid + span {
    color: green;
  }
  
  .fancy {
    background-color: transparent;
    border: 2px solid #4DB08C;
    border-radius: 0px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 390;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
  }
  .fancy::before {
    content: " ";
    width: 1.7rem;
    height: 2px;
    background: #cacaca;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(230%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
  }
  .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: lowercase;
    text-decoration: none;
    color: #818181;
    transform: translateX(30%);
  }
  .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #fff;
    transition: width 0.5s ease-out, left 0.3s ease-out;
  }
  
  .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #fff;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #fff;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  .fancy:hover {
    color:#fff;
    background: #65B88A;
  }
  
  .fancy:hover::before {
    width: 1.5rem;
    background: #fff;
  }
  
  .fancy:hover .text {
    color: #fff;
    padding-left: 1.5em;
  }
  
  .fancy:hover .top-key {
    left: -2px;
    width: 0px;
  }
  
  .fancy:hover .bottom-key-1,
   .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
  }

/*equipe*/
.section-equipe{
    width: 100%;
    height: auto;
    display: flex;
    padding: 60px 0px;

}
.equipe-geral{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;   

}
.section-equipe h2{
    font-size: var(--font-md0);
    text-transform: uppercase;
}
.equipe-infos{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 40px 0;
}
.equipe-img-name{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    height: 250px;
    border: 2px solid #333;
    border-radius: 7px;
}
.equipe-img-name:hover{
    margin-top: -10px;
}

.equipe-name{
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
    text-align: center;

}
.equipe-name, .name, .ra{
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2px;

}
/*fotos-equipe*/

/*Julio*/
.equipe-img1{
    position: absolute;
    z-index: 1;
    top: 0;
    display: flex;
    width: 100%;
    height: 70%;
    background-image: url(img/img-equipe/Julio.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
/*Lucas*/
.equipe-img2{
    position: absolute;
    z-index: 1;
    top: 0;
    display: flex;
    width: 100%;
    height: 70%;
    background-image: url(img/img-equipe/lucasCardoso.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
/*Marcelo*/
.equipe-img3{
    position: absolute;
    z-index: 1;
    top: 0;
    display: flex;
    width: 100%;
    height: 70%;
    background-image: url(img/img-equipe/Marcelo.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
/*Rebeca */
.equipe-img4{
    position: absolute;
    z-index: 1;
    top: 0;
    display: flex;
    width: 100%;
    height: 70%;
    background-image: url(img/img-equipe/Rebeca.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
/*Stephanie*/
.equipe-img5{
    position: absolute;
    z-index: 1;
    top: 0;
    display: flex;
    width: 100%;
    height: 70%;
    background-image: url(img/img-equipe/Stephanie.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
/*Vitor*/
.equipe-img6{
    position: absolute;
    z-index: 1;
    top: 0;
    display: flex;
    width: 100%;
    height: 70%;
    background-image: url(img/img-equipe/Vitor.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*contatos*/
.section-contatos{
    background-color: #c6e8ee;
    width: 100%;
    height:auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.section-contatos h3{
    text-transform: uppercase;
    font-size: var(--font-md);
    letter-spacing: 0.5px;
    margin-bottom: 3rem;
    text-decoration: overline 3px solid #000 ;
}
.contatos-web{
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.contatos-web a{
    color: #000;
    font-size: var(--font-md);
    font-weight: 500;
    flex-wrap: nowrap;
    cursor: pointer;
}
.num-contatos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}
.num-contatos p{
    color: #000;
    font-size: var(--font-md);
    font-weight: 500;
    flex-wrap: nowrap;
    cursor: pointer;
}

.contatos-web i{
    font-size: 20px;
    color: #fff;
    padding: 9px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 10px;
}
/*footer*/
footer{
    margin-top: 3rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    color: #000;
}
.footer-infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:  30px;
    gap: 1rem;

}
.logo-footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;;
}
.logo-footer i{
    color: #017A8F;
    font-size: 10px ;
    padding: 5px;
}
.logo-footer p{
    font-size: 1.1em;
    text-transform: uppercase;
}
.links-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 7px;
}
.links-footer a{
    display: flex;
    color: #000;
    text-transform: uppercase;
    font-size: var(--font-md);
    font-weight: 500;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.links-footer a:hover{
    border-bottom: 2px solid #000;
}
.links-footer i{
    font-size: var(--font-md);
    margin-right: 10px;
    border-bottom: none;
}
.contatos-footer{
    padding: 5px;
}
.num-contatos-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.num-contatos-footer p{
    cursor: pointer;
    font-size: var(--font-md);
    font-weight: 400;
    color: #000;
}

.num-contatos-footer i{
    font-size: 22px;
    color: #000;
}
.footer-end{
    border-top: 1px solid #333;
    background-color: #000;
    color: #fff;
    font-size: var(--font-md);
    text-align: center;
    letter-spacing: 0.5;
    padding: 10px;
}
.footer-end p{
    padding: 2px;
}








/*responsividade*****************************/
@media screen and (max-width: 900px){
    .main-txt{
        width: 100%;
        padding: 5px;
    }
}

@media screen and (max-width: 940px){
    /*cards*/
    .container-cards{
        flex-direction: column;
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width: 899px){
    /* header e menu-mobile *******************/
    .header-links{
        display: none;
    }
    header{
        width: 100%;
    }
    .menu-mobile.abrir{
        visibility: visible;
        height: calc(100vh - 77px);
    }
    #btn-menu{
        display: block;
    }
    /*cards**********************/
    .cards1{
        padding: 0px;
    }
    .container-cards1{
        width: 100%;
        padding: 15px;
        padding: 40px 0;
        border-radius: 100% 0% 100% 0% / 12% 83% 17% 88% ;
    }
    .card{
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .cards-one1{
        margin-left: 0;
        padding: 10px;
    }
    .cards-one2{
        margin-right: 0;
        padding: 10px;
    }
    .cards-one3{
        padding: 10px;
    }

    /*sobre*************/
    .sobre-website{
        flex-direction: column;
        width: 100%;

    }
    .sobre-txt{
        width: 100%;
        padding: 10px;
    }
    .img1{
        width: 50%;
    }
    .img2{
        width: 40%;
        margin-left: 2rem;
        margin-top: 10rem;
    }
    /*parcerias*/
    .section-parcerias{
        padding: 60px 0;
    }

    /*lembrete**************/
    .lembrete p{
        width: 100%;
    }

    /*formulários*****************/
    .form-duvidas{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 15px;
        gap: 2rem;
    }
    .formulario{
        width: 100%;
        padding: 10px;
        border-radius: 0;
    }
    .form-txt{
        margin-left: 0;
    }
    .form-txt p{
        width: 100%;
    }

    /*contatos*********************/
    .contatos-web{
        flex-direction: column-reverse;
        width: 100%;
        gap: 20px;
    }
    .num-contatos{
        flex-direction: column;
        gap: 20px;
    }
    /*footer******************/
    .footer-infos{
        padding: 5px;
    }
}

@media screen and (max-width: 768px){
    main{
        padding: 10px;
    }
    .main-info{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        gap: 2px;
    }
    .title-txt{
        width: 100%;
    }
    .img-main{
        width: 100%;
        text-align: center;
    }
    .img-foto-main{
        height: 55vh;
        background-size: 45vh;
    }
}

@media screen and (max-width: 630px){
    /*footer*/
    .footer-infos{
        padding: 5px;
    }
    .footer-infos{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding-left: 0px;
        padding-left: 30px;
    }
}
@media screen and (max-width:420px){
    .main-info{
        padding: 10px;
    }
    .title-txt{
        width: 100%;
    }
    .title{
        font-size: var(--font-md0);
    }
    .title p{
        font-weight: 600;
    }
}
@media screen and (max-width:320px){
    .img-foto-main{
        height: 40vh;
        background-size: 30vh;
    }
}




